@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap");

body {
    background-color: rgb(255, 255, 174);
  /* font-size: 20px; */
  display: grid;
  place-items: center;
  font-family: 'Urbanist',sans-serif;
  
}

.section-2 {
    width: 60%;
    /* background-color: rgb(255, 255, 134); */

}

h1 {
    font-size: 52px;
    font-weight: 500;
    text-align: left;
    text-decoration: underline;
    text-transform: capitalize;
    text-decoration-color: darkgoldenrod;
    text-shadow: 1px 2px 1px rgb(139, 238, 53);
}
p {
    font-size: 20px;
    font-weight: 400;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

p::first-letter {
    font-size: 40 px;
    font-weight: 400;
    text-transform: uppercase;
}